header h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: black;

}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(223, 156, 134);
    margin: auto;
    padding: 0 px;
}


header h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
form{
    margin:auto;
    padding:2rem;
    border-radius:5px;
    margin: 0 auto;
    max-width:400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
.container{
    margin-bottom: 1.5rem;
}
button{
    background-color: rgb(222, 134, 105);
    cursor:pointer;
    width:20%;
    border-radius: 5px;
    padding:0.75rem 1.5rem;
}
label{
    display:block;
    margin-bottom: 0.5rem;
}
